# Quick Start
#
# 1. Run `docker compose -f compose.rosbot.yaml up` on the ROSbot
# 2. Open a shell inside a docker container `docker compose -f compose.hardware.yaml exec -it rosbot bash`
# 3. Run `ros2 run teleop_twist_keyboard teleop_twist_keyboard` inside the container
x-common-config:
  &common-config
  restart: unless-stopped
  network_mode: host
  ipc: host
  env_file:
    - .env

services:
  rosbot:
    # image: husarion/rosbot:jazzy
    build:
      context: ..
      dockerfile: docker/Dockerfile.hardware
    <<: *common-config
    devices:
      - /dev/ttySERIAL # ROSbot driver communication port
    environment:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - FASTRTPS_DEFAULT_PROFILES_FILE=/udp_profiles.xml
    volumes:
      - ./dds-config-udp.xml:/udp_profiles.xml:ro
    command: >
      ros2 launch rosbot_bringup bringup.launch.py
        robot_model:=rosbot
